# 1. 딕셔너리 파일을 데이터프레임 파일로 바꾸시오( 노가다 X). 
#    그리고   "DC" 라는 단어만 나오게 인덱싱하시오.

In [117]:
import pandas as pd
data = {'Name':['Jay', 'Minsu', 'James', 'Jasmine', "Aboo" ],
        'Age':[27, 24, 22, 32, 25],
        'Address':['CA', 'NY', 'DC', 'Jeju', 'Seoul'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', 'MA']}

In [3]:
# 해답
import pandas as pd
data = {'Name':['Jay', 'Minsu', 'James', 'Jasmine', "Aboo" ],
        'Age':[27, 24, 22, 32, 25],
        'Address':['CA', 'NY', 'DC', 'Jeju', 'Seoul'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', 'MA']}
        
df= pd.DataFrame(data)

print(df['Address'].iloc[2])

DC

# 2. Age에서 가장 큰 숫자를 찾는 코드를 작성하시오.  결과가 Name 과 Age에 같이 나와야 합니다.

In [4]:
# 해답

print(df[['Name','Age']].max())

Name    Minsu
Age        32
dtype: object

# 3. 25세 이상인 사람을 골라내기 위한 boolean array 조건을 만들어 "Age_limit" 이라는 변수에 저장하시오.
#    Age_limit 이라는 변수를 이용해 데이터 프레임을 필터링 하고, 필터링한 데이터프레임을 "Older_group"이라고 저장한 후 프린트하시오.

In [5]:
# 해답
Age_limit = (df['Age'] >=25 )
Older_group = df.loc[Age_limit, :]
print(Older_group)

      Name  Age Address Qualification
0      Jay   27      CA           Msc
3  Jasmine   32    Jeju           Phd
4     Aboo   25   Seoul            MA

# 4. 20대와 30대를 나누는 함수를 짠 뒤, 그 함수를 데이터프레임에 적용하여 Age에 있는 모든 값을 20대와 30대 중 하나로 변경하시오.
#    바뀐 Age 변수 명을 "Generation"으로 교체하고 프린트하시오.

In [6]:
# 해답
def changeage(Age) : 
    df.loc[df['Age']>29,'Age']= 30
    df.loc[df['Age']<30,'Age']= 20 
df['Age'].map(lambda Age : changeage(Age))

df.rename(columns={'Age':'Generation'},inplace= True)
df

      Name  Generation Address Qualification
0      Jay          20      CA           Msc
1    Minsu          20      NY            MA
2    James          20      DC           MCA
3  Jasmine          30    Jeju           Phd
4     Aboo          20   Seoul            MA

# 5.아래에 있는 mydata 에서 a열의 3번째 행 ( 인덱스 3번째 아님) 을 5로 바꾸고, 결과를 보기 위해 프린트하시오.

In [27]:
idx = pd.date_range('1/1/2000', periods=4, freq='T')
mydata = pd.DataFrame(data=4 * [range(2)],
                  index=idx,
                  columns=['a', 'b'])
print(idx)
print(mydata)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:01:00',
               '2000-01-01 00:02:00', '2000-01-01 00:03:00'],
              dtype='datetime64[ns]', freq='T')
                     a  b
2000-01-01 00:00:00  0  1
2000-01-01 00:01:00  0  1
2000-01-01 00:02:00  0  1
2000-01-01 00:03:00  0  1

In [34]:
# 해답
mydata['a'].iloc[2] = 5
print(mydata)

                     a  b
2000-01-01 00:00:00  0  1
2000-01-01 00:01:00  0  1
2000-01-01 00:02:00  5  1
2000-01-01 00:03:00  0  1

In [ ]:
  
# 이 cell은 돌리지 말고, 아래와 같은 결과가 나오도록 Answer 란에 코드를 짜시오. ( 힌트 : resample('30S')  )
  a  b
a
0   2000-01-01 00:00:00  0  1
    2000-01-01 00:00:30  0  0
    2000-01-01 00:01:00  0  1
    2000-01-01 00:01:30  0  0
    2000-01-01 00:02:00  0  0
    2000-01-01 00:02:30  0  0
    2000-01-01 00:03:00  0  1
5   2000-01-01 00:02:00  5  1

In [25]:
# 해답

mydata = mydata.join(pd.DataFrame(data=4 * [range(2)],index=idx.resample('30s'),columns=['a', 'b']), how='inner')

AttributeError: 'DatetimeIndex' object has no attribute 'resample'