# 1. 딕셔너리 파일을 데이터프레임 파일로 바꾸시오( 노가다 X). 
#    그리고   "DC" 라는 단어만 나오게 인덱싱하시오.

In [40]:
import pandas as pd
data = {'Name':['Jay', 'Minsu', 'James', 'Jasmine', "Aboo" ],
        'Age':[27, 24, 22, 32, 25],
        'Address':['CA', 'NY', 'DC', 'Jeju', 'Seoul'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', 'MA']}
df = pd.DataFrame(data)
print(df)

      Name  Age Address Qualification
0      Jay   27      CA           Msc
1    Minsu   24      NY            MA
2    James   22      DC           MCA
3  Jasmine   32    Jeju           Phd
4     Aboo   25   Seoul            MA

In [41]:
# 해답
df = pd.DataFrame(data)
print(df['Address'].iloc[2])

DC

# 2. Age에서 가장 큰 숫자를 찾는 코드를 작성하시오.  결과가 Name 과 Age에 같이 나와야 합니다.

In [42]:
# 해답
df['rank_by_max'] = df['Age'].rank(method='max', ascending=False)
print(df.loc[df['rank_by_max']==1.0,'Name':'Age'])

      Name  Age
3  Jasmine   32

# 3. 25세 이상인 사람을 골라내기 위한 boolean array 조건을 만들어 "Age_limit" 이라는 변수에 저장하시오.
#    Age_limit 이라는 변수를 이용해 데이터 프레임을 필터링 하고, 필터링한 데이터프레임을 "Older_group"이라고 저장한 후 프린트하시오.

In [43]:
# 해답
Age_limit=df.loc[df['Age']>=25,:]
Older_group=Age_limit.dropna()
print(Older_group)

      Name  Age Address Qualification  rank_by_max
0      Jay   27      CA           Msc          2.0
3  Jasmine   32    Jeju           Phd          1.0
4     Aboo   25   Seoul            MA          3.0

# 4. 20대와 30대를 나누는 함수를 짠 뒤, 그 함수를 데이터프레임에 적용하여 Age에 있는 모든 값을 20대와 30대 중 하나로 변경하시오.
#    바뀐 Age 변수 명을 "Generation"으로 교체하고 프린트하시오.

In [44]:
# 해답
def OBYB():
    for i in range (5):
        if df['Age'].iloc[i]<30:
            df['Age'].iloc[i]='20대'
        else:
            df['Age'].iloc[i]='30대'
    df.columns=['Name','Generation','Address','Qualification','rank_by_max']
    print(df)
OBYB()

      Name Generation Address Qualification  rank_by_max
0      Jay        20대      CA           Msc          2.0
1    Minsu        20대      NY            MA          4.0
2    James        20대      DC           MCA          5.0
3  Jasmine        30대    Jeju           Phd          1.0
4     Aboo        20대   Seoul            MA          3.0

# 5.아래에 있는 mydata 에서 a열의 3번째 행 ( 인덱스 3번째 아님) 을 5로 바꾸고, 결과를 보기 위해 프린트하시오.

In [103]:
idx = pd.date_range('1/1/2000', periods=4, freq='T')
mydata = pd.DataFrame(data=4 * [range(2)],
                  index=idx,
                  columns=['a', 'b'])
print(mydata)

                     a  b
2000-01-01 00:00:00  0  1
2000-01-01 00:01:00  0  1
2000-01-01 00:02:00  0  1
2000-01-01 00:03:00  0  1

In [107]:
# 해답
mydata['a'].iloc[2]=5
print(mydata)

                     a  b
2000-01-01 00:00:00  0  1
2000-01-01 00:01:00  0  1
2000-01-01 00:02:00  5  1
2000-01-01 00:03:00  0  1