# 1. 딕셔너리 파일을 데이터프레임 파일로 바꾸시오( 노가다 X). 
#    그리고   "DC" 라는 단어만 나오게 인덱싱하시오.

In [6]:
import pandas as pd
data = {'Name':['Jay', 'Minsu', 'James', 'Jasmine', "Aboo" ],
        'Age':[27, 24, 22, 32, 25],
        'Address':['CA', 'NY', 'DC', 'Jeju', 'Seoul'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', 'MA']}

In [2]:
# 해답
import pandas as pd

raw_data = {'Age': [27, 24, 22, 32, 25],
            'Address': ['CA', 'NY', 'DC', 'Jeju', 'Seoul'],
            'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'MA']}

data = DataFrame(raw_data)
 

data.index = ['Jay', 'Minsu', 'James', 'Jasmine', 'Aboo']    # 인덱스 이름 변경
print(data)
print(data.iloc[2, 1])

NameError: name 'DataFrame' is not defined

# 2. Age에서 가장 큰 숫자를 찾는 코드를 작성하시오.  결과가 Name 과 Age에 같이 나와야 합니다.

In [8]:
# 해답
print(data.loc[data.max('Age'), :])
#모르겠습니다ㅠㅠ

AttributeError: 'dict' object has no attribute 'loc'

# 3. 25세 이상인 사람을 골라내기 위한 boolean array 조건을 만들어 "Age_limit" 이라는 변수에 저장하시오.
#    Age_limit 이라는 변수를 이용해 데이터 프레임을 필터링 하고, 필터링한 데이터프레임을 "Older_group"이라고 저장한 후 프린트하시오.

In [7]:
# 해답
Age_limit = data['Age'] > 25
Older_group = data.Age_limit(True)         
print(Age_limit)
print(Older_group)

TypeError: '>' not supported between instances of 'list' and 'int'

# 4. 20대와 30대를 나누는 함수를 짠 뒤, 그 함수를 데이터프레임에 적용하여 Age에 있는 모든 값을 20대와 30대 중 하나로 변경하시오.
#    바뀐 Age 변수 명을 "Generation"으로 교체하고 프린트하시오.

In [100]:
# 해답

D2 = data.loc[data['Age']<30, :]
D2.rename(columns={x:y for x,y in zip(D2.columns, ['Generation', 'Address', 'Qualification'])}, inplace=True)
print(D2)

       Generation Address Qualification
Jay            27      CA           Msc
Minsu          24      NY            MA
James          22      DC           MCA
Aboo           25   Seoul            MA

# 5.아래에 있는 mydata 에서 a열의 3번째 행 ( 인덱스 3번째 아님) 을 5로 바꾸고, 결과를 보기 위해 프린트하시오.

In [82]:
idx = pd.date_range('1/1/2000', periods=4, freq='T')
mydata = pd.DataFrame(data=4 * [range(2)],
                  index=idx,
                  columns=['a', 'b'])

In [84]:
# 해답
mydata.loc[4:5,'a'] = 5
print(mydata)

                     a  b
2000-01-01 00:00:00  0  1
2000-01-01 00:01:00  0  1
2000-01-01 00:02:00  0  1
2000-01-01 00:03:00  5  1

In [ ]:
  
# 이 cell은 돌리지 말고, 아래와 같은 결과가 나오도록 Answer 란에 코드를 짜시오. ( 힌트 : resample('30S')  )
  a  b
a
0   2000-01-01 00:00:00  0  1
    2000-01-01 00:00:30  0  0
    2000-01-01 00:01:00  0  1
    2000-01-01 00:01:30  0  0
    2000-01-01 00:02:00  0  0
    2000-01-01 00:02:30  0  0
    2000-01-01 00:03:00  0  1
5   2000-01-01 00:02:00  5  1

In [ ]:
# 해답