# 1. 딕셔너리 파일을 데이터프레임 파일로 바꾸시오( 노가다 X). 
#    그리고   "DC" 라는 단어만 나오게 인덱싱하시오.

In [216]:
import pandas as pd
data = {'Name':['Jay', 'Minsu', 'James', 'Jasmine', "Aboo" ],
        'Age':[27, 24, 22, 32, 25],
        'Address':['CA', 'NY', 'DC', 'Jeju', 'Seoul'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', 'MA']}

In [217]:
# 해답
from pandas import Series, DataFrame
df = DataFrame(data)
print(df,"\n")
print(df.iloc[2,2])

      Name  Age Address Qualification
0      Jay   27      CA           Msc
1    Minsu   24      NY            MA
2    James   22      DC           MCA
3  Jasmine   32    Jeju           Phd
4     Aboo   25   Seoul            MA

DC

# 2. Age에서 가장 큰 숫자를 찾는 코드를 작성하시오.  결과가 Name 과 Age에 같이 나와야 합니다.

In [218]:
# 해답
a=df["Age"].idxmax()
print(df.loc[a,'Name':'Age'])

Name    Jasmine
Age          32
Name: 3, dtype: object

# 3. 25세 이상인 사람을 골라내기 위한 boolean array 조건을 만들어 "Age_limit" 이라는 변수에 저장하시오.
#    Age_limit 이라는 변수를 이용해 데이터 프레임을 필터링 하고, 필터링한 데이터프레임을 "Older_group"이라고 저장한 후 프린트하시오.

In [219]:
# 해답
Age_limit=df.loc[df['Age']>=25,:]
Older_group = Age_limit.dropna()
print(Older_group)

      Name  Age Address Qualification
0      Jay   27      CA           Msc
3  Jasmine   32    Jeju           Phd
4     Aboo   25   Seoul            MA

# 4. 20대와 30대를 나누는 함수를 짠 뒤, 그 함수를 데이터프레임에 적용하여 Age에 있는 모든 값을 20대와 30대 중 하나로 변경하시오.
#    바뀐 Age 변수 명을 "Generation"으로 교체하고 프린트하시오.

In [220]:
# 해답
import numpy as np
def age_gen():
    df['Age'] = np.where(df["Age"] < 30, '20s', '30s')
    df2 = df.rename(columns= {'Age' : 'Generation'}, inplace = False )
    print(df2)

age_gen()

      Name Generation Address Qualification
0      Jay        20s      CA           Msc
1    Minsu        20s      NY            MA
2    James        20s      DC           MCA
3  Jasmine        30s    Jeju           Phd
4     Aboo        20s   Seoul            MA

# 5.아래에 있는 mydata 에서 a열의 3번째 행 ( 인덱스 3번째 아님) 을 5로 바꾸고, 결과를 보기 위해 프린트하시오.

In [227]:
idx = pd.date_range('1/1/2000', periods=4, freq='T')
mydata = pd.DataFrame(data=4 * [range(2)],
                  index=idx,
                  columns=['a', 'b'])

In [228]:
# 해답
mydata['a'].iloc[2]=5
print(mydata)

                     a  b
2000-01-01 00:00:00  0  1
2000-01-01 00:01:00  0  1
2000-01-01 00:02:00  5  1
2000-01-01 00:03:00  0  1

In [223]:
  
# 이 cell은 돌리지 말고, 아래와 같은 결과가 나오도록 Answer 란에 코드를 짜시오. ( 힌트 : resample('30S')  )
  a  b
a
0   2000-01-01 00:00:00  0  1
    2000-01-01 00:00:30  0  0
    2000-01-01 00:01:00  0  1
    2000-01-01 00:01:30  0  0
    2000-01-01 00:02:00  0  0
    2000-01-01 00:02:30  0  0
    2000-01-01 00:03:00  0  1
5   2000-01-01 00:02:00  5  1

IndentationError: unexpected indent (<ipython-input-223-7ff254fc3d08>, line 2)

In [237]:
# 해답


print(mydata.resample('30S').first())
# print("Original DataFrame:\n") 
# print(mydata) 
# print("\nModified Stlying DataFrame:") 
# mydata.style.set_properties(**{'background-color': 'black', 
#                            'color': 'green'})

                       a    b
2000-01-01 00:00:00  0.0  1.0
2000-01-01 00:00:30  NaN  NaN
2000-01-01 00:01:00  0.0  1.0
2000-01-01 00:01:30  NaN  NaN
2000-01-01 00:02:00  5.0  1.0
2000-01-01 00:02:30  NaN  NaN
2000-01-01 00:03:00  0.0  1.0