# 1. 로또번호를 추출하는 함수를 만들어 보세요!

로또번호는 1번부터 45번까지 복원추출 하지 않고 무작위 6개의 숫자로 이루어집니다!

In [16]:
# 과제 1 해답
import numpy as np
def generate_lottery_numbers():
    return print(np.random.choice(np.arange(1,46), size=6, replace=False))

generate_lottery_numbers()

#피드백: 전체적으로 random 함수를 썼는데, 일반적인 상황에서는 numpy에 있는 random함수를 사용하는 것이 속도가 훨씬 빠르다.
# import random
# lotto = random.sample(range(1,46),6)
# print(lotto)

[28 16  6 37 26 18]

# 2. 몬테카를로 기법을 활용하여 원주율 구하기

* 몬테카를로 기법: 무수히 많은 무작위 난수를 추출하여 원하는 값을 추정하는 방식
* 전체 시도 횟수 = 10,000,000 번으로 고정
* 아래 그림 참고

In [1]:
from IPython.display import Image

# 참고 이미지
Image("./img/montecarlo_pi.gif")

&lt;IPython.core.display.Image object&gt;

In [17]:
# 과제 2 해답
import numpy as np
total = int(1e7)
sample = np.random.rand(total,2)
pi = np.sum(np.sum(sample**2,axis=1)<=1)/total*4
pi

# import random

# n=10000000
# count=0

# for i in range(n):
#   x=random.random()
#   y=random.random()
#   if(x**2 + y**2 < 1):
#     count += 1

# a = 4 * count / n
# print(a)

3.1414972

# 3. Convert a 1D array to 2D array with 2 rows

For instance,

Input: \[0,1,2,3,4,5,6,7,8,9]

Desired Output:

(\[\[0,1,2,3,4\],

  \[5,6,7,8,9\]\])

In [19]:
# 과제 3 해답
import numpy as np
arr = np.arange(10)
arr.reshape(2,-1)  #np.reshape의 size에서 -1의 의미: column의 값을 자동으로 세팅해줌
# import numpy as np
# array = np.array([0,1, 2, 3, 4,5,6,7,8,9])
# reshaped_to_2d = np.reshape(array, list((2, 5)))
# print(reshaped_to_2d)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

# 4. 두 개의 np.array에서 공통된 것들을 추출하는 함수를 만드세요.

Input

a = np.array(\[1,2,3,2,3,4,3,4,5,6\])

b = np.array(\[7,2,10,2,7,4,9,4,9,8\])

Desired Output = (\[2,4\])

In [20]:
# 과제 4 해답
import numpy as np
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
#np.intersect1d(a,b)
print(np.unique(np.array([x for x in a if x in b])))
#print(list(set(a) & set(b)))

[2 4]

# 5. 모든 값이 True인 3*3 numpy array를 만들어보세요

In [22]:
# 과제 5 해답
x = np.ones((3,3), dtype=bool)
print (x)
#dtype=bool빼먹지말기

[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]

# 6. 주어진 array에서 짝수, 또는 홀수만 추출하세요

Input = (\[0,1,2,3,4,5,6,7,8,9\])

In [4]:
# 과제 6 해답
Input = np.array([0,1,2,3,4,5,6,7,8,9])
print(Input[Input%2==0])
print(Input[Input%2==1])

[0 2 4 6 8]
[1 3 5 7 9]

# 7. 모든 홀수를 -1로 바꾸세요.

Input = (\[0,1,2,3,4,5,6,7,8,9\])

In [28]:
# 과제 7 해답
Input = np.array([0,1,2,3,4,5,6,7,8,9])
print(np.where(Input%2==1,-1,Input))

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

# 8. 주어진 array에서 5와 10 사이의 모든 수를 추출하세요  
a = np.array(\[2,6,1,9,10,3,27\])

In [107]:
# 과제 8 해답
a = np.array([2,6,1,9,10,3,27])
print(a[np.where(np.logical_and(a>=5, a<=10))])

[ 6  9 10]

# 9. 주어진 array의 숫자들의 순위로 이루어진 array를 출력하세요.

Hint:argsort()를 활용하세요.

argsort()는 작은 값부터 순서대로 데이터의 index를 반환해줍니다.

In [35]:
# 과제 9 해답
# 과제 8에 주어진 array 사용
# a = np.array([2,6,1,9,10,3,27])
# print(a[a.argsort()])

np.random.seed(10)
a = np.random.randint(20,size=10)

print(a.argsort())
print(a.argsort().argsort())

[ 1  2  3  6  9 10 27]
[3 9 1 7 0 8 2 5 4 6]
[4 2 6 0 8 7 9 3 5 1]